apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: chatbot
  template:
    metadata:
      labels:
        app: chatbot
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: chatbot
          image: jagadish1607/chatbot_k8s:v1
          ports:
            - containerPort: 8501
          resources:
            requests:
              cpu: "250m"      # Reserved CPU (0.25 core)
              memory: "512Mi"  # Reserved Memory
            limits:
              cpu: "500m"      # Max CPU allowed
              memory: "1Gi"    # Max Memory allowed
          # ------------------------------------
          env:
            - name: GOOGLE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: chatbot-secrets
                  key: GOOGLE_API_KEY